html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2c3e50;
  background-color: #ecf0f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}
.app-header {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  min-height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.add-button button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #e74c3c;
  cursor: pointer;
}
.add-button button span {
  font-size: 40px;
  color: white;
  display: inline-block;
  line-height: 18px;
}
.fixed-button {
  position: fixed;
  bottom: 100px;
  right: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Modal.js styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content {
  padding: 20px;
  position: fixed;
  top: 20%;
  background-color: #fefefe;
  width: 50%;
  left: 25%;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border-radius: 4px;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 20px;
}

.modal-body {
  padding: 10px 20px;
}

.modal-footer {
  padding: 10px 20px;
}

@-webkit-keyframes slideIn {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal input[type='text'] {
  width: 100%;
  padding: 6px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px 0;
  font-size: 16px;
  outline: none;
}
.modal textarea {
  width: 50%;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  margin: 8px 0;
  outline: none;
}
.modal label {
  width: 100%;
  display: block;
  margin: 4px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.btn {
  padding: 8px 16px;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
.btn-rounded {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 0;
  margin-right: 10px;
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  outline: none;
}
.edit-btn {
  background: #d35400;
}
.open-close-btn {
  background: #2980b9;
}
.delete-btn {
  background: #e74c3c;
}

.save-btn {
  min-width: 100px;
  background: #2ecc71;
  border-color: #2ecc71;
  color: white;
  margin-left: auto;
  margin-right: 16px;
}
.cancel-btn {
  min-width: 100px;
  background: #e74c3c;
  border-color: #e74c3c;
  color: white;
}

.todo-item {
  display: flex;
  background: #ffffff;
  border-radius: 2px;
  margin: 10px auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.todo-section {
  flex: 1;
  padding: 10px;
}
.todo-section:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.todo-label {
  font-size: 14px;
  font-weight: 300;
  color: #616060;
  margin-bottom: 8px;
}
.todo-title {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 8px;
}
.search-box {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.search-box span {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}
.search-box input[type='text'] {
  padding: 6px 12px;
  font-size: 16px;
  min-width: 30%;
  border-radius: 40px;
  border: 1px solid #babcbc;
  outline: none;
}

.tab {
  background: #ffffff;
  border: 1px solid;
  padding: 12px 20px;
  margin-right: 5px;
  min-width: 150px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.tab.active {
  background-image: linear-gradient(-90deg, #4fa3f2, #4481eb);
  border: transparent;
  color: white;
}
.tabs {
  display: flex;
  padding: 10px 0;
}

select {
  width: 200px;
  height: 32px;
  background: transparent;
  font-size: 16px;
  line-height: 2;
}
input#start {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.date {
  margin: 10px 0;
}
.completed.todo-item {
  box-shadow: none;
  opacity: 0.8;
}
.completed .todo-title {
  text-decoration: line-through;
}
.completed .open-close-btn {
  background-color: #2ecc71;
}

/* CSS loader */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-loader {
  display: none;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
.page-loader.active {
  display: flex;
}

.sorting-head {
  display: flex;
  align-items: center;
}
.sorting-el {
  flex: 1;
  padding: 10px;
  display: flex;
  border-right: 1px solid;
  background: white;
  display: flex;
  align-items: center;
  min-height: 62px;
}
.sorting-el.active {
  background-image: linear-gradient(-90deg, #4fa3f2, #4481eb);
  color: white;
}
.sorting-el > div {
  margin-left: auto;
}
.sorting-el:first-child {
  border-left: 1px solid;
}
.sorting-el > div div {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
